body,
html {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #eee;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
}

#add {
    margin-top: 2px;
}

.add_type,
.form-wr {
    padding: 20px 30px 0 0;
}